/* Write your CSS here */
.app-container {
  background-image: linear-gradient(to bottom, #fff1eb, #ace0f9);
  min-height: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
  max-width: 1110px;
}
.heading {
  color: #1e293b;
  font-family: 'Bree serif';
}
.input-search {
  width: 140px;
  border: 1px normal transparent;
  background-color: transparent;
}
.image {
  width: 10px;
}
.tabs-lists {
  list-style-type: none;
  display: flex;
  border: none;
}
.apps-list {
  display: flex;
  flex-wrap: wrap;
}
